// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div {
  margin-bottom: 10px;
}

p {
  margin: 0;
}

.description {
  font-size: 1em;
}
